/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
  color: #00B7FF;
}

img{
  width: 300px;
}

#images {
  display:flex;
  flex-direction: row;
}

#headerItem{
  margin-left: 50px;
}

#searchItem{
  margin-left: 50px;
  width: 300px;
}

#prebuiltSandwiches {
  display:flex ;
  margin-left: 50px
  ;
}


#imageBuilder1{
  display: flex;
}

#imageBuilder2{
  display: flex;
}


.hr-theme-slash-2 {
  display: flex;
}
  .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #000;
  }
  .hr-icon {
    position: relative;
    top: 3px;
    color: #ff0000;
  }
